@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/* ================= RESET / BASE ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --text-light-color: #ffffff;
    --primary-color: #206992;
    --primary-color-hover: #1e465f;
    --elements-bg-color: #f0f0f0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
a {
    all: unset;
    color: var(--primary-color);
    cursor: pointer;
}

span {
    color: var(--primary-color);
}


/* ================= HEADER ================= */

.header {
    height: 75px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    background-color: var(--elements-bg-color);
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
    transition: backgrond-color 0.3s ease;
    z-index: 100;
}

header h1 {
    margin: 0;
}

.logo-link {
  text-decoration: none;
  z-index: 200;
  width: 150px;
}

.logo {
    text-align: center;
    color: var(--text-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 200;
    display: inline-block;
}

.logo span {
  transition: color 0.3s ease;
}

.header.menu-active .logo span {
  color: var(--text-light-color);
  transform: translateY(-4px);
  opacity: 0.9;
}

.header.menu-active .menu-bars {
    transform: rotate(90deg);
    color: var(--text-light-color);
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.menu-bars {
    font-size: 28px;
    color: var(--primary-color);
    margin: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 200;
}

.menu-bars:hover {
    color: var(--primary-color-hover);
}

.sign-in-btn {
    text-align: center;
    cursor: pointer;
    color: var(--text-light-color);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 18px;
}

.sign-in-btn:hover {
    background-color: var(--primary-color-hover);
}


/* ================= MENU ================= */

.menu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 100vh;
    background-color: var(--primary-color);
    padding-top: 80px;
    transition: width 0.3s ease;
    z-index: 5;
    box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 150;
}

.menu.open {
    width: 280px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    padding: 0;
    list-style: none;
}

.menu li {
    width: 100%;
    height: 48px;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    align-content: center;

}

.menu li:hover {
    background-color: var(--primary-color-hover);
}


.menu li a {
    text-decoration: none;
    color: var(--text-light-color);
    cursor: pointer;
    margin-left: 24px;

}


/* ================= CARDS ================= */

.card {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content {
    width: 100vh;
    height: 100%;
    background-color: var(--elements-bg-color);
}

.card-footer {
    width: 350px;
    height: auto;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    overflow: hidden;
    color: var(--text-light-color);
    background-color: var(--primary-color);
}

.card-btn {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.3s;
    background-color: var(--primary-color);
}

.card-btn:hover {
    background-color: var(--primary-color-hover);
    fill: #fff;
}


.svg-icons {
    width: 32px;
    height: 32px;
    color: var(--text-light-color);

}

/* ================= HOME / SIGN ================= */


.sign-page {
    padding: 40px;
}

.sign-page h2 {
    text-align: justify;
    font-size: 28px;
    color: var(--text-color);    
}

.sign-page .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;

}

.input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 20px 45px;
    align-items: center;
}

.input-field p {
    color: var(--text-color);
    font-weight: bold;
    margin: 5px;
}

.input-field .input-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(50%);
    color: var(--primary-color);
}

.sign-page .remember-login {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0 -15px;
}

.sign-page button {
    text-align: center;
    cursor: pointer;
    color: var(--text-light-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 24px;
    transition: 0.3s;
    width: 100%;
    height: 50px;
}

.sign-in-page button:hover {
    background-color: var(--primary-color-hover);
}

/* ================= DESKTOP ================= */

@media screen and (min-width: 767px) {

    .header h1 {
        justify-self: flex-start;
        margin-left: 48px;
    }

    .menu {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        overflow: visible;
        display: flex;
        box-shadow: none;

    }

    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
        padding: 0;
    }

    .menu li:hover {
        background: none;
    }

    .menu li a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0 10px;
        border-radius: 10px;
        color: var(--text-color);
        transition: 0.3s;
    }

    .menu li a:hover {
        background-color: var(--primary-color);
        color: var(--text-light-color);
    }

    .menu.open {
        width: auto;
    }

    .menu-bars {
        display: none;
    }

    .sign-in-btn {
        width: auto;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1440px;
        margin: 0 auto;
    }



}