@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/* ================= RESET / BASE ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-light-color: #ffffff;
  --primary-color: #1e465f;
  --elements-bg-color: #f0f0f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--elements-bg-color);
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 18px;
    color: var(--text-color);
    align-self: center;
    width: 33.3%;

}

span {
    color: var(--primary-color);
}

.menu-bars {
    font-size: 32px;
    color: var(--text-color);
    align-self: center;
    margin: 18px;
    width: 33.3%;
}

.menu-bars:hover {
    color: var(--primary-color);
}

.menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 0;
  overflow: hidden;
  height: 100vh;
  background-color: var(--primary-color);
  padding-top: 80px;
  transition: width 0.3s ease;
  z-index: 5;
}

.menu.open {
  width: 280px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    padding: 18px;
    list-style: none;
    gap: 32px;
   
}

.menu li a {
    text-decoration: none;
    color: var(--text-light-color);
    cursor: pointer;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--elements-color);
    padding: 10px;
    width: 33.3%;
    border-radius: 12px;
    border: solid 2px;
    transition: 0.3s;
    margin: 18px;
}

.sign-in-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-light-color);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--elements-bg-color);
    justify-content: center;
    align-self: flex-end;
}


@media screen and (min-width: 767px) {}