@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/* ================= RESET / BASE ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #000000;
  --btn-color: #e4e5f1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    margin: 24px;

}

.menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
  width: 25%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3.5px;
  background-color: #000000;
  margin: 3px;
  padding: 0;
  transition: 0.4s;
}

nav {
    display: flex;
    flex-direction: row;
    
}

nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin: 0px 0px 24px 0px;
    padding: 0;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--btn-color);
    padding: 10px;
    width: 25%;
    border-radius: 12px;
    box-shadow: 8px 8px;
    transition: 0.3s;
}

.sign-in-btn:hover {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px;
}


@media screen and (min-width: 767px) {

    header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 24px;

}

nav {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin: 0px 0px 24px 0px;
    padding: 0;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--btn-color);
    padding: 10px;
    width: 100px;
    border-radius: 12px;
    box-shadow: 8px 8px;
    transition: 0.3s;
}

.sign-in-btn:hover {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px;
}


}